.cards {
    height: 100%;
    margin: 0 auto;
    display: grid;
    gap: 32px;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(99px, 1fr));
    /* Play with width values on JS */
    /* width: 100%; */
}

.card {
    max-width: 180px;
    height: 100%;
    aspect-ratio: 2/3;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--blue);
    cursor: pointer;
    transition: all 0.2s ease;
}

.card h3 {
    font-family: 'norse';
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

.card.back {
    background: url('../assets/images/card-design-back.svg') no-repeat center center;
    background-color: var(--blue);
    background-size: cover;
}

.card.front {
    background: url('../assets/images/card-design-front.svg') no-repeat center center;
    background-color: var(--yellow-lt);
    background-size: cover;
}

.card.front:hover {
    background-color: var(--white);
}

.rune {
    width: 60%;
    aspect-ratio: 2/3;
    margin-top: 8px;
    /* margin-bottom: 12px; */
}

.rune.breakthrough {
    background: url('../assets/images/runes/rune-breakthrough.svg') no-repeat center center;
    background-size: cover;
}

.rune.constraint {
    background: url('../assets/images/runes/rune-constraint.svg') no-repeat center center;
    background-size: cover;
}

.rune.defense {
    background: url('../assets/images/runes/rune-defense.svg') no-repeat center center;
    background-size: cover;
}

.rune.disruption {
    background: url('../assets/images/runes/rune-disruption.svg') no-repeat center center;
    background-size: cover;
}

.rune.fertility {
    background: url('../assets/images/runes/rune-fertility.svg') no-repeat center center;
    background-size: cover;
}

.rune.flow {
    background: url('../assets/images/runes/rune-flow.svg') no-repeat center center;
    background-size: cover;
}

.rune.gateway {
    background: url('../assets/images/runes/rune-gateway.svg') no-repeat center center;
    background-size: cover;
}

.rune.growth {
    background: url('../assets/images/runes/rune-growth.svg') no-repeat center center;
    background-size: cover;
}

.rune.harvest {
    background: url('../assets/images/runes/rune-harvest.svg') no-repeat center center;
    background-size: cover;
}

.rune.initiation {
    background: url('../assets/images/runes/rune-initiation.svg') no-repeat center center;
    background-size: cover;
}

.rune.journey {
    background: url('../assets/images/runes/rune-journey.svg') no-repeat center center;
    background-size: cover;
}

.rune.joy {
    background: url('../assets/images/runes/rune-joy.svg') no-repeat center center;
    background-size: cover;
}

.rune.movement {
    background: url('../assets/images/runes/rune-movement.svg') no-repeat center center;
    background-size: cover;
}

.rune.opening {
    background: url('../assets/images/runes/rune-opening.svg') no-repeat center center;
    background-size: cover;
}

.rune.partnership {
    background: url('../assets/images/runes/rune-partnership.svg') no-repeat center center;
    background-size: cover;
}

.rune.possessions {
    background: url('../assets/images/runes/rune-possessions.svg') no-repeat center center;
    background-size: cover;
}

.rune.protection {
    background: url('../assets/images/runes/rune-protection.svg') no-repeat center center;
    background-size: cover;
}

.rune.retreat {
    background: url('../assets/images/runes/rune-retreat.svg') no-repeat center center;
    background-size: cover;
}

.rune.signals {
    background: url('../assets/images/runes/rune-signals.svg') no-repeat center center;
    background-size: cover;
}

.rune.standstill {
    background: url('../assets/images/runes/rune-standstill.svg') no-repeat center center;
    background-size: cover;
}

.rune.strength {
    background: url('../assets/images/runes/rune-strength.svg') no-repeat center center;
    background-size: cover;
}

.rune.the-self {
    background: url('../assets/images/runes/rune-the-self.svg') no-repeat center center;
    background-size: cover;
}

.rune.warrior {
    background: url('../assets/images/runes/rune-warrior.svg') no-repeat center center;
    background-size: cover;
}

.rune.wholeness {
    background: url('../assets/images/runes/rune-wholeness.svg') no-repeat center center;
    background-size: cover;
}
