.options {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    aspect-ratio: 1/1;
    position: absolute;
    top: -132px;

    /* margin: 0 auto;
    margin-left: -32px; */
}

.score-board {
    background: url('../assets/images/score-placement.svg') no-repeat center center;
    width: 110px;
    aspect-ratio: 1/1;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    line-height: 1rem;
    color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    align-self: center;
}

.score-board .score {
    width: 30px;
    text-align: right;
    padding-bottom: 32px;
}

.score-board .high-score {
    width: 30px;
    text-align: left;
    padding-top: 32px;
}

.play-button {
    background: var(--white);
    position: absolute;
    width: 110px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    border-radius: 50%;
    /* outline: 0.2px solid var(--white);
    outline-offset: -12px; */
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 700;
    font-size: 1.4rem;
    padding-left: 5px;
    color: var(--blue);
    cursor: pointer;
}

.play-button:hover {
    background: var(--yellow-lt);
}
